<td class="table-division">
  <div><img src="{{this.catavatar}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  {{this.catname}}
</td>
<td class="table-division">
  <div>{{this.age}}</div>
</td>
<td class="table-division">
  <a href="/cat-edit/{{this._id}}" data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></a>
</td>
<td class="table-division">
  <span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}" aria-hidden="true"></span>
</td>