<div class="section-title"><h2 class="title-centered">Hello {{user.name}}</h2></div>
  <div id="profile">
    <div class="nav-dahsboard">
      <img src="{{user.avatar}}" alt="user avatar" class="avatar">
      <ul>
        <li>Dashboard</li>
        <li><a href="/dashboard">My infos</a></li>
        <li><a href="/dashboard/cats">My cats</a></li>
        <li><a href="/dashboard/bookings">My bookings</a></li>
      </ul>
    </div>
    <div class="infos">
      <h2>My infos</h2><br>
      <form action="/dashboard" method="POST" id="form-container">
      <div class="form-element">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value="{{user.name}}" placeholder="Jon">
      </div>
      <br>
      <div class="form-element">
        <label for="lastname">Lastname</label>
        <input id="lastname" type="text" name="lastname" value="{{user.lastname}}" placeholder="Snow">
      </div>
      <br>
      <div class="form-element">
        <label for="email">Email</label>
        <input id="email" type="mail" name="email" value="{{user.email}}" placeholder="jon@snow.com">
      </div>
      <br>
      <div class="form-element">
        <label for="phone">Phone</label>
        <input id="phone" type="text" name="phone" value="{{user.phone}}" placeholder="0101010101">
      </div>
      <br>
      <label for="avatar">Modify my profile picture:</label>
      <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"><br><br>
{{!--       <div class="form-element">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" value="" placeholder="Enter a new password">
      </div> --}}
      <br>
      <button class="validate">Update my infos</button> <button class="validate"> <a href="delete/{{user._id}}">Delete my account</a></button>
    </form> 
  </div>
</div>