<div class="section-title"><h2 class="title-centered">Explore</h2></div>
  <div id="profile">
    <div class="nav-dahsboard">
      <button class="validate"><i class="fas fa-arrow-circle-left"></i> <a href="/hosts">Go back to your research</a> </button>
      <br><br>
      <img src="{{profile.user_id.avatar}}" alt="user avatar" class="avatar">
      <ul>
        <li><a href="/reviews">3 reviews</a></li>
        <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></li>
        <li>4 cats hosted on CatBnb</li>
      </ul>
    </div>
    <div class="infos">
      <br><br>
      <h2>{{profile.user_id.name}} {{profile.user_id.lastname}}</h2><br>
      <div class="host-infos">
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-home"></i>
          </div>
          House
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fab fa-pagelines"></i>
          </div>
          Has a garden
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-dog"></i>
          </div>
          No other animals
        </div>
        <div class="property-container">
          <div class="property-icon">
            <i class="fas fa-paw"></i>
          </div>
          Host capacity: 2 cats
        </div>
      </div>
      <br>
      <p>{{profile.description}}Hi everyone! I used to volunteer in a shelter, now I have a nice house and want to help cat owners taking care of their pets! :) </p>
      <br>
      <br>
     {{!--  <a class="validate" href="/booking?host={{profile._id}}&client={{user._id}}">Send a message</a> --}}
      <a class="validate" href="/booking?host={{profile._id}}&client={{user._id}}">Choose the cat sitter</a>
    </form> 
  </div>
</div>