<div class="section-title"><h2 class="title-centered">Booking details</h2></div>

<form action="/booking" method="post" id="make-deal-form">
{{!--     <h2 class="heading">Booking details</h2>      --}}     
      <input type="hidden" name="user_id" value="{{client._id}}"> 
      <input type="hidden" name="host_id" value="{{host._id}}">
      <div class="search-inputs-deal">
        <div class="col-1-3"></div>
          <h3>Conclude your deal with {{host.user_id.name}}</h3>
          <div class="images-booking">
            <img src="{{client.avatar}}" alt="client avatar">
            <img src="{{host.user_id.avatar}}" alt="client avatar">
          </div>
          <div class="calendars">
            {{!-- <div id="start_calendar" class="auto-jsCalendar"></div> --}}
            {{!-- <div id="end_calendar" class="auto-jsCalendar"></div> --}}
          </div>
          <div class="controls">
          

            <label for="startDate"><i class="fa fa-calendar"></i> First day of hosting</label>
            {{!-- <input type="date" id="startDate" name="startDate" class="hidden"> --}}
            <input type="date" id="startDate" name="startDate" >
          </div>      
        <div class="controls">
          <label for="endDate"><i class="fa fa-calendar"></i> Last day of hosting</label>
          {{!-- <input type="date" id="endDate" name="endDate" class="hidden"/> --}}
          <input type="date" id="endDate" name="endDate" />
        </div>
        <div>
      </div>    
  </div> 
</div>   
 <div class="center-button"><button type="submit" value="Submit" id="make-deal-form" class="booking-confirmed">Validate this booking</button></div>
      </div>  
  </div>
</form>